@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

*{
    font-family: 'League Spartan', sans-serif;
}

body{
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left , bottom 30px right;
    background-repeat: no-repeat no-repeat;
    background-size: contain contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--White);
}

main{
    max-width: 1440px;
    margin: 0 20px;
}

.container-top{
    width: 100%;
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
}

.container-left{
    width: 500px;
    align-items: flex-end;
}

.container-left h1{
    font-size: 60px;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    padding-bottom: 20px;
}

.container-left p{
    color: var(--Dark-Grayish-Magenta);
    font-size: 20px;
    line-height: 1.7rem;
    font-weight: 500;
}

.container-right{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.container-review{
    width: 75%;
    height: 60px;
    background-color: var(--Light-Grayish-Magenta);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 120px 0 0;
}

.review{
    width: 240px;
    padding-left: 30px;
}

.review img{
    padding-left: 5px;
    height: 16px;    
}

.container-review h2{
    font-size: 18px;
    color: var(--Very-Dark-Magenta);
    width: 400px;
    font-weight: 700;
    padding-left: 10px;
}

.container-report{
    width: 75%;
    height: 60px;
    background-color: var(--Light-Grayish-Magenta);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 80px 0 0;
}

.report{
    width: 240px;
    padding-left: 30px;
}

.report img{
    padding-left: 5px;
    height: 16px;    
}

.container-report h2{
    font-size: 18px;
    color: var(--Very-Dark-Magenta);
    width: 400px;
    font-weight: 700;
    padding-left: 10px;
}

.container-best{
    width: 75%;
    height: 60px;
    background-color: var(--Light-Grayish-Magenta);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.best{
    width: 240px;
    padding-left: 30px;
}

.best img{
    padding-left: 5px;
    height: 16px;    
}

.container-best h2{
    font-size: 18px;
    color: var(--Very-Dark-Magenta);
    width: 400px;
    font-weight: 700;
    padding-left: 10px;
}

.container-bottom{
    display: flex;  
    justify-content: space-between;
}

.container-box2{
    margin-top: 16px;
}

.container-box3{
    margin-top: 32px;
}

.container-box{
    background-color: var(--Very-Dark-Magenta);
    width: 340px;    
    padding: 30px;
    border-radius: .7em;
}

.box{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.box img{
    width: 50px;
    border-radius: 50%;
}

.title{
    padding-left: 20px;
    line-height: 1.3rem;
}

.title h3{
    color: var(--White);
}

.title h4{
    color: var(--Soft-Pink);
}

.paragraf{
    color: var(--White);
    line-height: 1.3rem;
    font-size: 16px;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.attribution {    
    background-color: var(--Dark-Grayish-Magenta);
    font-size: 14px;
    text-align: end;
    padding: 8px 0;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (max-width: 1200px) {
    main {
        margin: auto;
      }
    section{
      margin-top: 800px;
      margin-bottom: 100px;
      max-width: 900px;
  }

  .container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .container-left h1{
    text-align: center;
    font-size: 60px;
    margin: auto;
  }
  .container-left p{
    padding: 0 50px;
    text-align: center;
  }

  .container-right h2{
    font-size: 18px;
  }
  .review img{
    padding-left: 1px;
    margin-bottom: 2px;
    height: 12px; 
  }
  .report img{
    padding-left: 1px;
    margin-bottom: 2px;
    height: 12px; 
  }
  .best img{
    padding-left: 1px;
    margin-bottom: 2px;
    height: 12px; 
  }
  .container-right{
    max-width: 500px;
  }
  .container-review{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    text-align: center;
  }
  .container-report{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    text-align: center;
  }
  .container-best{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    text-align: center;
  }
  .container-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px  auto;
    align-items: center;
  }
  footer{
      opacity: 0%;
  }

}

@media screen and (max-width: 700px) {
    main {
        margin: auto;
      }
    section{
      margin-top: 800px;
  }

  .container-top {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .container-left{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .container-left h1{
    text-align: center;
    font-size: 40px;
    margin: auto;
  }
  .container-left p{
    text-align: center;
  }

  .container-right{
    max-width: 450px;
}
  .container-right h2{
    font-size: 14px;
  }
  .review img{
    padding-left: 1px;
    height: 12px; 
  }
  .report img{
    padding-left: 1px;
    height: 12px; 
  }
  .best img{
    padding-left: 1px;
    height: 12px; 
  }

  .container-review{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    text-align: center;
  }
  .container-report{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    text-align: center;
  }
  .container-best{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
    text-align: center;
  }
  .container-bottom{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px  auto;
    align-items: center;
  }
  footer{
      opacity: 0%;
  }

}